*{
    margin: auto;
    padding: auto;
}
@font-face {
    font-family: "Mikefont";

src: url("nuku1.woff") format("woff");  /*Custom font*/
}

#topfill{
    height: 5vh;
}
#textcont{
    border: black 2px;
    padding-top: 10%;
}
#logo{
    width: 14%;
    height: 120px;
    background-image: url(../img/logo2.png);
    background-size: cover;
    margin: auto;
    filter: drop-shadow(5px 5px 5px #222);
}

.navbar {
    z-index:1;
    overflow:visible;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 10vh;
    border: black solid 2px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    margin-left: 15%;
    font-family: "Mikefont";
  }

  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    height: 500px;
  }

  #tokyopic{
      height: 110%;
      width: 100%;
  }

  #backpage{
      background-color: cornsilk;
      width: 100%;
      height: 200vh;
  }



  /* Container holding the image and the text */
.container {
    text-align: center;
    color: black;
    font-size: 300%;
    font-family:sans-serif;
  }
  
  /* Centered text */
  .centered {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.title{
    font-family: "Mikefont";

    color: crimson;
    margin-left: 48%;
    
    position: center;
    
    }
    .title2{
      font-family: "Mikefont";
      padding-top: 25px;
      color: crimson;
      margin-left: 45%;
      margin-top: 10%;
      position: center;
    }
    .title3{
      font-family: "Mikefont";
      padding-top: 25px;
      color: crimson;
      margin-left: 46%;
      margin-top: 10%;
      position: center;
     
      
    } 
  #food{
    float: right;
    position:right;
    border: red solid 2px;
 margin-right: 17%;
    margin-left: 19% ;
    padding: 10px;
  
  }
  #Neoculture{
    float: right;
    position:right;
    border: red solid 2px;
 margin-right: 17%;
    margin-left: 19% ;
    padding: 10px;
  }
  #Religion{
  float: right;
    position:right;
    border: red solid 2px;
 margin-right: 17%;
    margin-left: 19% ;
    padding: 10px;
  }
  .foo{
    
    border: black solid 2px;
    
    height: 250px;
    display: block;
    width: 600px;
    margin-left: 24%;
  margin-right: auto;

  }
   #textcont{
    border: black solid 2px;
    margin-left: 6%;
    margin-right: 6%;
    background-color: whitesmoke;
    padding-bottom: 10%;
    padding-top: 0%;
    margin-top: 0%;

   }
   body{

     background-image: url(../img/tesy.jpg);
     padding-bottom: 5%;
   }
   .pic{
     margin-right: 50%;
   }
   #Culture{
    font-family: "Mikefont";
   
    color: black;
    margin-left: 40%;
    margin-top: 10%;
    font-size: 500%;
   }
   table {
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 5%;
    font-family: "Mikefont";
  

}
td{
  padding-right: 20px;
  padding-left: -10px;
  color: blue;
  font-family: "Mikefont";
}
