*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#html{
    scroll-behavior: smooth;
    
}

#big{

    opacity: 1;
    margin: auto;
    width: 100%;
    height: 200vh;    
}
#menu{
    height: 12vh;
  
background-color: #252525;    
}

#menu a {
    color: white;
    text-align: auto;
    margin-top: 5em;
    font-size: 28px;
    font-family: "Mikefont";

}

#featured{
    background-image: url(../img/bakgrund.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 50%;
}

#logo{
    width: 17%;
    height: 145px;
    background-image: url(../img/logo2.png);
    background-size: cover;
    margin: auto;

}


#text1{

margin-top: 500px;
}


